* {
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0;
}

header {
  background-color: #000;
  width: 95%;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 17px;
  padding-left: 15px;
  align-self: center;
}

.nav-items {
  display: flex;
  list-style-type: none;
}

.nav-items li a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.books {
  list-style-type: none;
  overflow: auto;
  padding: 20px;
}

.books-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 450px;
  border-bottom: 1px solid gray;
  height: 45px;
  padding: 0 1%;
}

.books-li:nth-child(odd) {
  background-color: #a3a2a2;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 7px;
}

.add {
  margin-bottom: 15px;
  padding: 7px;
  background-color: black;
  color: white;
  width: 65px;
  border-radius: 5px;
  justify-self: flex-end;
  position: relative;
  left: 63%;
}

.my-grid {
  flex-direction: column;
  display: none;
  margin: 0 5%;
  width: 90%;
  align-items: center;
  height: 500px;
}

.add-book {
  display: none;
}

.load:hover {
  color: blue;
}

.enter-book-and-title {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  width: 90%;
  align-items: center;
}

.removeBook {
  margin-top: 3%;
  vertical-align: bottom;
  width: 70px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.removeBook:hover {
  background-color: rgb(240, 24, 4);
  border: 0;
  transition: 0.9s;
  font-weight: bold;
}

.add:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: 0.9s;
}

footer {
  display: flex;
  background-color: #000;
  color: #fff;
  height: 50px;
  align-self: center;
  padding-left: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 95%;
  margin: auto;
}

.contact-info {
  flex-direction: column;
  display: none;
  width: 50%;
  align-items: center;
  margin: auto;
}

.contact-list li {
  list-style-type: disc;
}

.date {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  width: 95%;
  margin: auto;
  font-size: 20px;
}
